html, body {
    background-color: #0f3ea3;
    font-family: 'roboto', sans-serif;
    margin: 0 auto;
}

::selection {
    background: rgba(82, 179, 217, 0.3);
    color: inherit;
}

a {
    color: rgba(82, 179, 217, 0.9);
}

#bottom {
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0;
}

#connectionDiv {
    width: 100%;
    height: 5%;
    position: absolute;
}

#connectionState {
    position: absolute;
    left: 2%;
}

.button {
    outline: none;
}

#chat_background {
    background-color: white;
    position: absolute;
    top: 8%;
    left: 15%;
    right: 15%;
    width: 70%;
    height: 84%;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.50), 0 15px 12px rgba(0, 0, 0, 0.22);
    display: flex;
    overflow-y: scroll;
    align-items: flex-start;
    justify-content: center;
}

#inputArea {
    font-family: 'Futura', sans-serif;
    font-size: 13px;
    overflow: hidden;
    resize: none;
    height: 70%;
    width: 60%;
    left: 10%;
    position: absolute;
    min-width: 60%;
    outline: none;
}

#sendButton {
    font-size: 23px;
    position: relative;
    color: white;
    left: 75%;
    width: 50px;
    height: 50px;
    bottom: 2%;
    border-radius: 50%;
    background-color: #E91E63;
    display: block;
    outline: none;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    border: 2px solid #E91E63;
}

#sendButton:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.chat {
    width: 100%;
    height: 75%;
    top: 10%;
    position: relative;
}

#table {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    overflow-y: scroll;
}

.other {
    list-style: none;
    margin-left: 2%;
}

.own {
    text-align: left;
    list-style: none;
}

.message_content {
    word-wrap: break-word;
    white-space: normal;
    max-width: 70%;
}

.other .message_content {
    left: 0;
    margin-right: 40%;
    margin-left: 2%;
}

.own .message_content {
    right: 0;
    margin-left: 40%;
    margin-right: 2%;
}

.other .senderInfo {
    left: 0;
    margin-left: 5%;
    font-size: 10px;
}

.own .senderInfo {
    right: 0;
    margin-left: 43%;
    font-size: 10px;
}