html, body {
    background-color: #009688;
    font-family: 'roboto', sans-serif;
    margin: 0 auto;
}

::selection {
    background: rgba(82, 179, 217, 0.3);
    color: inherit;
}

a {
    color: rgba(82, 179, 217, 0.9);
}

#bottom {
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0;
}

#connectionDiv {
    width: 100%;
    height: 5%;
    position: absolute;
}

.button {
    outline: none;
}

#chat_background {
    background-color: white;
    position: absolute;
    top: 8%;
    left: 15%;
    right: 15%;
    width: 70%;
    height: 84%;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.50), 0 15px 12px rgba(0, 0, 0, 0.22);
    display: flex;
    overflow-y: scroll;
    align-items: flex-start;
    justify-content: center;
}

#inputArea {
    font-size: 13px;
    overflow: hidden;
    resize: none;
    height: 70%;
    width: 60%;
    left: 10%;
    position: absolute;
    min-width: 60%;
    outline: none;
}

#sendButton {
    font-size: 23px;
    position: relative;
    color: white;
    left: 75%;
    width: 50px;
    height: 50px;
    bottom: 2%;
    border-radius: 50%;
    background-color: #E91E63;
    display: block;
    outline: none;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    border: 2px solid #E91E63;
}

#sendButton:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.chat {
    width: 100%;
    height: 75%;
    position: relative;
}

#table {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    overflow-y: scroll;
}

.message_content {
    word-wrap: break-word;
}

li {
    list-style: none;
}

.other {
    margin-left: 2%;
    float: left;
    max-width: 60%;
    clear: both;
}

.own {
    float: right;
    max-width: 60%;
    clear: both;
    margin-right: 2%;
}

#connectionState {
    margin-top: 2%;
    margin-left: 2%;
    font-weight: lighter;
    color: white;
    max-width: 30%;
    float: left;
}
.other .senderInfo {
    white-space: nowrap;
    font-size: 10px;
    text-align: left;
    margin-left: 2%;
}

.own .senderInfo {
    white-space: nowrap;
    font-size: 10px;
    text-align: right;
    margin-right: 2%;
}

.userDisplay {
    border-bottom: 1px solid #9E9E9E;
    height: 15%;
    display: inline-block;
    white-space: nowrap;
    overflow-y: scroll;
}
.userDisplay .imageTextPair {
    text-align: center;
    float: left;
    width: 9%;
    height: 100%;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    margin-left: 1%;
}
.userDisplay .imageTextPair .userImage {
    width: 75%;
    height: auto;
    max-width: 49px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.userDisplay .imageTextPair .userName {
    font-size: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}