body {
    background-color: #009688;
    width: 100%;
    height: 100%;
}

.button {
    outline: none;
}

#loginArea {
    background-color: white;
    position: absolute;
    top: 8%;
    left: 30%;
    right: 30%;
    width: 40%;
    height: 40%;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.5), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#passwordTextField {
    margin-bottom: 20px;
}

#welcomeSentence {
    font-family: 'roboto-thin', sans-serif;
    font-size: 30px;
    text-align: center;
}

.button {
    background-color: #E91E63;
    border: none;
    color: white;
    width: 40%;
    height: 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    top: 84%;
    left: 30%;
    position: absolute;
    border-radius: 23px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    cursor: pointer;
}

.button:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

input::-webkit-input-placeholder {
    color: #1abc9c;
    font-family: 'roboto-light', sans-serif;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#usernameTextField {
    margin-top: 7%;
}

a {
    margin-left: 40%;
}

a:-webkit-any-link {
    font-size: 14px;
    font-family: 'roboto-light', sans-serif;
    text-decoration: none;
    text-align: center;
    outline: none;
}

input {
    margin-left: 35%;
    margin-top: 5%;
    width: 30%;
    display: block;
    border: none;
    padding: 10px 0;
    height: 20px;
    border-bottom: solid 1px #1abc9c;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #0e6252;
}

input:focus, input:valid {
    box-shadow: none;
    outline: none;
    border-bottom: solid 2px #1abc9c;
    background-position: 0 0;
}

input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder {
    font-size: 11px;
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
    visibility: visible !important;
}
